name: Publish Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      run: mvn -f gradefx-plugin-bsg -B package
      env:
        GITHUB_TOKEN: ${{ github.token }}
        
    - name: Make staging directory
      run: mkdir staging

    - name: Copy to staging
      run: |
        cp -r gradefx-plugin-bsg/target/bsg-${{ github.ref_name }}.jar staging
        
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: plugin
        path: staging
        
    - name: Upload JAR to release
      uses: svenstaro/upload-release-action@2.11.2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: staging/bsg-${{ github.ref_name }}.jar
        tag: ${{ github.ref }}
        overwrite: true
